:root {
    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --title-text-color: #212121;

    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;

    --accent-color: #2196f3;
}
/* ======Reset=============== */

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* ======Reset=============== */
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

/* Container */

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    /* outline: 2px solid red;
    background-color: rgba(99, 76, 67, 0.449); */
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

/* ===========Visualy hidden titles=============== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Styles for main page */

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: var(--title-text-color);
}

.accent {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;

    color: var(--title-text-color);
}

/* Header links  */
.header {
    border-bottom: 1px solid #ececec;
}
.header-container {
    display: flex;
    justify-content: center;
}

.nav,
.nav-list,
.contact-list {
    display: flex;
    align-items: center;
}

.nav-list {
    margin-left: 90px;
}

.contact-list {
    margin-left: auto;
}

.contact-item + .contact-item {
    margin-left: 50px;
}

.nav-item a {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item + .nav-item {
    margin-left: 50px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.nav-link.current {
    color: var(--accent-color);
}

.nav-link,
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
}

.contact-list a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

/* Hero section  */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    height: 600px;

    background-color: var(--footer-bg-color);
}

.hero-title {
    width: 696px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
}

.hero-button {
    display: flex;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0s, 1s;
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;

    cursor: pointer;
}

.hero-button:focus,
.hero-button:hover {
    background-color: #188ce8;
}

/* Advantages section  */

.advantages-list {
    display: flex;
}

.advantages-item + .advantages-item {
    margin-left: 30px;
}

.advantages-item-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

/* Ocupation section  */
.ocupation {
    padding-top: 0;
}

.ocupation-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.ocupation-list {
    display: flex;
    margin-top: 50px;
}

.ocupation-item-title + .ocupation-item-title {
    margin-left: 30px;
}

/* Team section */

.team {
    background-color: var(--secondary-bg-color);
}

.team-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list {
    display: flex;
    margin-top: 50px;
}

.team-item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item-text-container {
    padding: 30px 0;
}

.team-item + .team-item {
    margin-left: 30px;
}

.team-item-title {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-item-text {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

/* Footer  */

.footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
}

.footer-logo {
    color: var(--secondary-text-color);
}

/* Address  */

.address {
    margin-top: 20px;
}

.address-list {
    display: flex;
    flex-direction: column;
}

.address-item + .address-item {
    margin-top: 9px;
}

.address a {
    font-style: normal;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
}
.address-link-white {
    color: var(--secondary-text-color);
}

/* ====Styles for Portfolio page=================================================== */

/* ======Filter list======= */

.filter-list-item + .filter-list-item {
    margin-left: 8px;
}

.filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.filter-button {
    margin: 0 auto;
    border-radius: 4px;
    padding: 6px 22px;
    border: transparent;

    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);

    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0s, 1s;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;

    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
}

/* =====Project-list====== */

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
}

.projects-list-item {
    margin: 15px;
}
.projects-title-text-container {
    padding: 20px 24px;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}

.projects-list-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-list-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.projects-list a {
    text-decoration: none;
}
